<div class="row">
    <div class="col col-md-6 col-lg-6">
        <p>
            <a class="btn btn-primary" [routerLink]="['/ot/otnormal/update']" [queryParams]="{id: id}">Update</a>   
            &nbsp;                                     
            <a class="btn btn-danger"  (click)="deleteRefer(id)">Delete</a>                                                                            
        </p>
        <table class="table table-striped table-bordered detail-view">
            <tbody>
                <tr>
                    <th>เลขที่เงินเดือน</th>
                    <td>{{payroll}}</td>
                </tr>
                <tr>
                    <th>วันที่</th>
                    <td>{{referdate}}</td>
                </tr>
                <tr>
                    <th>เวลา</th>
                    <td>{{refertime}}</td>
                </tr>
                <tr>
                    <th>สถานที่ไปรับ</th>
                    <td>{{reciveat}}</td>
                </tr>
                <tr>
                    <th>ระยะทาง</th>
                    <td>{{distance}}</td>
                </tr>
                <tr>
                    <th>โรงพยาบาลต้นทาง</th>
                    <td>{{hospitalbegin}}</td>
                </tr>
                <tr>
                    <th>โรงพยาบาลปลายทาง</th>
                    <td>{{hospitalend}}</td>
                </tr>
                <tr>
                    <th>จำนวนเงิน</th>
                    <td>{{rate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
