<div class="row">
    <div class="col-sm-6"><form [formGroup]="formGroup" (ngSubmit)="seletedclick()" >
        <ng-multiselect-dropdown
            [placeholder]="''"
            [data]="hospitals"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelectBegin($event)"
            formControlName="begin" 
           
        >
        </ng-multiselect-dropdown>
        <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">บันทึก</button>
    </form></div>
</div>
